{% extends 'base.html' %}
{% load static %}

{% block content %}
{%include 'componente/alerta_global.html' %}

<div class="fixed top-4 right-6 z-50">
    <button onclick="openModal('listaUsuariosModal')" 
            class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-800 transition">
        <i class="fas fa-users mr-2"></i> Ver Usuários
    </button>
</div>
        
    <div  class="justify-center py-40 gap-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto ml-6 mr-6" >
        {% if usuario_atual == 'admin' %}
            <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl py-20  transform hover:scale-105 transition p-5 w-full   cursor-pointer"
                    onclick="openModal('usuarioModal')">
                <div class="flex flex-col items-center">
                    <i class="fas fa-user-plus text-5xl text-green-600 mb-6"></i>
                    <h3 class="text-xl font-bold mb-2">Criar Usuário Novo</h3>
                    <p class="text-gray-600">Adicione novos usuários à plataforma com facilidade.</p>
                </div>
            </div>
        {%endif%}
            
            <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl py-20 transform hover:scale-105 transition p-5  w-full cursor-pointer"
                    onclick="openModal('senhaModal')">
                <div class="flex flex-col items-center">
                    <i class="fas fa-lock text-5xl text-blue-600 mb-6"></i>
                    <h3 class="text-xl font-bold mb-2">Mudar Senha</h3>
                    <p class="text-gray-600">Atualize sua senha de forma rápida e segura.</p>
                </div>
            </div>

             <div class="bg-white rounded-lg shadow-lg hover:shadow-2xl py-20 transform hover:scale-105 transition p-5  w-full cursor-pointer"
                    onclick="openModal('editanome')">
                <div class="flex flex-col items-center">
                    <i class="fas fa-lock text-5xl text-blue-600 mb-6"></i>
                    <h3 class="text-xl font-bold mb-2">Mudar nome</h3>
                    <p class="text-gray-600">Atualize o nome</p>
                </div>
            </div>
           
        </div>
        <div id="listaUsuariosModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">
            <div class="bg-white p-8 rounded-lg shadow-lg w-[800px] relative">
                <button type="button" onclick="closeModal('listaUsuariosModal')" 
                        class="absolute top-4 right-4 text-gray-600 hover:text-red-600">
                    ✖
                </button>
                <h2 class="text-2xl font-bold mb-6">Lista de Usuários</h2>
                
                <div class="overflow-y-auto max-h-[500px]">
                    {% include 'componente/lista_users.html' %}
                </div>
            </div>
        </div>
        {% include 'componente/cria_novo_user_modal.html' %}
        {% include 'componente/muda_senha_modal.html' %}
        {% include 'componente/muda_nome_modal.html' %}
  
 
    
<script>
    function openModal(modalId) {
        document.getElementById(modalId).classList.remove('hidden');
    }

    function closeModal(modalId) {
        document.getElementById(modalId).classList.add('hidden');
    }
</script>
{%endblock%}