{% if usuario_atual == 'admin' %}
        
<div id="usuarioModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center">
    <form hx-post="{% url 'cria_novo_usuario' %}" hx-trigger="submit" hx-target="#mensagem-alerta" > {% csrf_token %}

        <div class="bg-white p-8 rounded-lg shadow-lg w-96 relative">

            <!-- Botão para fechar o modal (X) -->
            <button type="button" onclick="closeModal('usuarioModal')" 
                    class="absolute top-4 right-4 text-gray-600 hover:text-red-600">
                ✖
            </button>
            <div id="mensagem-alerta" class="mt-4">
                {% include 'componente/alerta.html' %}
            </div>
            <h2 class="text-xl font-bold mb-4">Criar Usuário Novo</h2>
            <input type="text" placeholder="Nome de Usuário" name="nome" class="w-full p-2 border rounded mb-4" required>
            <input type="password" placeholder="senha" name="senha" class="w-full p-2 border rounded mb-4" required>
            <input type="password" placeholder="confirma Senha" name="confirmasenha" class="w-full p-2 border rounded mb-4" required>
            <select name="tipouser" class="w-full p-2 border rounded mb-4">
                <option value="" disabled selected>Selecione o tipo de usuário</option>
                <option value="admin">Admin</option>
                <option value="funcionario">Funcionário</option>
            </select required>
                                    
            <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-800 transition">
                Criar
            </button>
            <button onclick="closeModal('usuarioModal')" class="ml-4 px-4 py-2 bg-gray-400 rounded hover:bg-gray-600 transition">
                Cancelar
            </button>
        </form>
    </div>
</div>
{%endif%}